In [ ]:
#do I have pandas
!pip show pandas
# if I do not:
#!pip install pandas

In [1]:
#call pandas 
import pandas as pd #'pd' is a nickname
#use a function from pandas to read the cloud data into a python object
gitCloudGuided='https://github.com/allisgoodrn/guided1/raw/main/'

In [2]:
worldPoplReview='data%20(1).csv'

In [3]:
DFcsv=pd.read_csv(gitCloudGuided + worldPoplReview)

In [ ]:
DFcsv

In [ ]:
type(DFcsv)

In [ ]:
#dimensions (rows,columns)
DFcsv.shape

In [ ]:
#top/bottom
DFcsv.head(10)

In [ ]:
DFcsv.tail(10)

In [ ]:
#access column names 
DFcsv.columns

In [ ]:
DFcsv.columns.to_list()

In [4]:
bye=[1,2,3,5,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,]
DFcsv.drop(columns=DFcsv.columns[bye], inplace=True) #inplace!!

In [5]:
DFcsv.columns.to_list()

['State', 'WhiteNonHispanic', 'AsianNonHispanic']

In [6]:
#changing the column names 
DFcsv.rename(columns=
              {'WhiteNonHispanic':'European/European American',
               'AsianNonHispanic':'Asian/Asian American'},inplace = True)

In [7]:
DFcsv.columns.to_list()

['State', 'European/European American', 'Asian/Asian American']

In [8]:
#our customized table 
DFcsv.iloc[:,:3]

                   State  European/European American  Asian/Asian American
0                Alabama                     3192147                 67317
1                 Alaska                      439979                 45855
2                Arizona                     3883722                233048
3               Arkansas                     2155099                 45389
4             California                    14365145               5743983
5               Colorado                     3837450                178265
6            Connecticut                     2357942                161787
7               Delaware                      595236                 38249
8   District of Columbia                      257792                 28347
9                Florida                    11331222                579476
10               Georgia                     5478289                430473
11                Hawaii                      306360                522125
12                 Idaho                     1427529                 23603
13              Illinois                     7737459                702457
14               Indiana                     5253453                157076
15                  Iowa                     2677946                 78873
16                Kansas                     2193988                 85734
17              Kentucky                     3751738                 67524
18             Louisiana                     2720638                 79976
19                 Maine                     1242113                 15157
20              Maryland                     3028494                382027
21         Massachusetts                     4865022                462831
22              Michigan                     7428622                314736
23             Minnesota                     4422490                273100
24           Mississippi                     1680938                 29561
25              Missouri                     4826943                122506
26               Montana                      908782                  8527
27              Nebraska                     1507127                 47539
28                Nevada                     1460159                246904
29         New Hampshire                     1214029                 36398
30            New Jersey                     4858807                851568
31            New Mexico                      769139                 31328
32              New York                    10766297               1657284
33        North Carolina                     6503292                306140
34          North Dakota                      636284                 11831
35                  Ohio                     9141370                266601
36              Oklahoma                     2563119                 85858
37                Oregon                     3128494                185221
38          Pennsylvania                     9685118                445725
39           Puerto Rico                       31715                  2189
40          Rhode Island                      755708                 35856
41        South Carolina                     3230111                 82800
42          South Dakota                      715328                 12275
43             Tennessee                     4969371                121808
44                 Texas                    11850477               1396953
45                  Utah                     2455192                 72061
46               Vermont                      576601                 10042
47              Virginia                     5209336                564706
48            Washington                     5067909                656578
49         West Virginia                     1654681                 13948
50             Wisconsin                     4681072                162010
51               Wyoming                      485816                  4746

In [ ]:
DFcsv.columns

In [9]:
#delete a single row by index value 0
#axis 1 = column
#axis 0 = row
#we've just dropped "United States"
DFcsv=DFcsv.drop(labels= 39,axis=0)

In [15]:
#prepare a frequency table to detect possible errors
DFcsv.State.value_counts()

Alabama           1
Pennsylvania      1
Nevada            1
New Hampshire     1
New Jersey        1
New Mexico        1
New York          1
North Carolina    1
North Dakota      1
Ohio              1
Oklahoma          1
Oregon            1
Rhode Island      1
Alaska            1
South Carolina    1
South Dakota      1
Tennessee         1
Texas             1
Utah              1
Vermont           1
Virginia          1
Washington        1
West Virginia     1
Wisconsin         1
Nebraska          1
Montana           1
Missouri          1
Mississippi       1
Arizona           1
Arkansas          1
California        1
Colorado          1
Connecticut       1
Delaware          1
Florida           1
Georgia           1
Hawaii            1
Idaho             1
Illinois          1
Indiana           1
Iowa              1
Kansas            1
Kentucky          1
Louisiana         1
Maine             1
Maryland          1
Massachusetts     1
Michigan          1
Minnesota         1
Wyoming           1
Name: State, dtype: int64

In [10]:
DFcsv.reset_index(drop=True, inplace=True)
DFcsv

                   State  European/European American  Asian/Asian American
0                Alabama                     3192147                 67317
1                 Alaska                      439979                 45855
2                Arizona                     3883722                233048
3               Arkansas                     2155099                 45389
4             California                    14365145               5743983
5               Colorado                     3837450                178265
6            Connecticut                     2357942                161787
7               Delaware                      595236                 38249
8   District of Columbia                      257792                 28347
9                Florida                    11331222                579476
10               Georgia                     5478289                430473
11                Hawaii                      306360                522125
12                 Idaho                     1427529                 23603
13              Illinois                     7737459                702457
14               Indiana                     5253453                157076
15                  Iowa                     2677946                 78873
16                Kansas                     2193988                 85734
17              Kentucky                     3751738                 67524
18             Louisiana                     2720638                 79976
19                 Maine                     1242113                 15157
20              Maryland                     3028494                382027
21         Massachusetts                     4865022                462831
22              Michigan                     7428622                314736
23             Minnesota                     4422490                273100
24           Mississippi                     1680938                 29561
25              Missouri                     4826943                122506
26               Montana                      908782                  8527
27              Nebraska                     1507127                 47539
28                Nevada                     1460159                246904
29         New Hampshire                     1214029                 36398
30            New Jersey                     4858807                851568
31            New Mexico                      769139                 31328
32              New York                    10766297               1657284
33        North Carolina                     6503292                306140
34          North Dakota                      636284                 11831
35                  Ohio                     9141370                266601
36              Oklahoma                     2563119                 85858
37                Oregon                     3128494                185221
38          Pennsylvania                     9685118                445725
39          Rhode Island                      755708                 35856
40        South Carolina                     3230111                 82800
41          South Dakota                      715328                 12275
42             Tennessee                     4969371                121808
43                 Texas                    11850477               1396953
44                  Utah                     2455192                 72061
45               Vermont                      576601                 10042
46              Virginia                     5209336                564706
47            Washington                     5067909                656578
48         West Virginia                     1654681                 13948
49             Wisconsin                     4681072                162010
50               Wyoming                      485816                  4746

In [ ]:
DFcsv.loc[:,'State']

In [ ]:
#!pip show sorting
#!pip install sorting
#import sorting
#does not work for what we want

In [11]:
DFcsv.sort_values(by=["State"], inplace= False, ascending=True)

                   State  European/European American  Asian/Asian American
0                Alabama                     3192147                 67317
1                 Alaska                      439979                 45855
2                Arizona                     3883722                233048
3               Arkansas                     2155099                 45389
4             California                    14365145               5743983
5               Colorado                     3837450                178265
6            Connecticut                     2357942                161787
7               Delaware                      595236                 38249
8   District of Columbia                      257792                 28347
9                Florida                    11331222                579476
10               Georgia                     5478289                430473
11                Hawaii                      306360                522125
12                 Idaho                     1427529                 23603
13              Illinois                     7737459                702457
14               Indiana                     5253453                157076
15                  Iowa                     2677946                 78873
16                Kansas                     2193988                 85734
17              Kentucky                     3751738                 67524
18             Louisiana                     2720638                 79976
19                 Maine                     1242113                 15157
20              Maryland                     3028494                382027
21         Massachusetts                     4865022                462831
22              Michigan                     7428622                314736
23             Minnesota                     4422490                273100
24           Mississippi                     1680938                 29561
25              Missouri                     4826943                122506
26               Montana                      908782                  8527
27              Nebraska                     1507127                 47539
28                Nevada                     1460159                246904
29         New Hampshire                     1214029                 36398
30            New Jersey                     4858807                851568
31            New Mexico                      769139                 31328
32              New York                    10766297               1657284
33        North Carolina                     6503292                306140
34          North Dakota                      636284                 11831
35                  Ohio                     9141370                266601
36              Oklahoma                     2563119                 85858
37                Oregon                     3128494                185221
38          Pennsylvania                     9685118                445725
39          Rhode Island                      755708                 35856
40        South Carolina                     3230111                 82800
41          South Dakota                      715328                 12275
42             Tennessee                     4969371                121808
43                 Texas                    11850477               1396953
44                  Utah                     2455192                 72061
45               Vermont                      576601                 10042
46              Virginia                     5209336                564706
47            Washington                     5067909                656578
48         West Virginia                     1654681                 13948
49             Wisconsin                     4681072                162010
50               Wyoming                      485816                  4746

In [12]:
DFcsv=DFcsv.drop(labels=8,axis=0)

In [13]:
DFcsv.reset_index(drop=True, inplace=True)

In [14]:
DFcsv

             State  European/European American  Asian/Asian American
0          Alabama                     3192147                 67317
1           Alaska                      439979                 45855
2          Arizona                     3883722                233048
3         Arkansas                     2155099                 45389
4       California                    14365145               5743983
5         Colorado                     3837450                178265
6      Connecticut                     2357942                161787
7         Delaware                      595236                 38249
8          Florida                    11331222                579476
9          Georgia                     5478289                430473
10          Hawaii                      306360                522125
11           Idaho                     1427529                 23603
12        Illinois                     7737459                702457
13         Indiana                     5253453                157076
14            Iowa                     2677946                 78873
15          Kansas                     2193988                 85734
16        Kentucky                     3751738                 67524
17       Louisiana                     2720638                 79976
18           Maine                     1242113                 15157
19        Maryland                     3028494                382027
20   Massachusetts                     4865022                462831
21        Michigan                     7428622                314736
22       Minnesota                     4422490                273100
23     Mississippi                     1680938                 29561
24        Missouri                     4826943                122506
25         Montana                      908782                  8527
26        Nebraska                     1507127                 47539
27          Nevada                     1460159                246904
28   New Hampshire                     1214029                 36398
29      New Jersey                     4858807                851568
30      New Mexico                      769139                 31328
31        New York                    10766297               1657284
32  North Carolina                     6503292                306140
33    North Dakota                      636284                 11831
34            Ohio                     9141370                266601
35        Oklahoma                     2563119                 85858
36          Oregon                     3128494                185221
37    Pennsylvania                     9685118                445725
38    Rhode Island                      755708                 35856
39  South Carolina                     3230111                 82800
40    South Dakota                      715328                 12275
41       Tennessee                     4969371                121808
42           Texas                    11850477               1396953
43            Utah                     2455192                 72061
44         Vermont                      576601                 10042
45        Virginia                     5209336                564706
46      Washington                     5067909                656578
47   West Virginia                     1654681                 13948
48       Wisconsin                     4681072                162010
49         Wyoming                      485816                  4746

In [18]:
DFcsv.State

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: State, dtype: object